<h1> Site Map</h1>

<%= link_to "Account", secret_secret1_path %> </BR>
<%= link_to "Home", home_index_path %> </BR>
<%= link_to "Announcements", home2_announcements_path %> </BR>
<%= link_to "Contact", home_contact_path %> </BR>
<%= link_to "About Us", home_about_path %> </BR>
<%= link_to "Blogs", c_blogs_path %> </BR>
<%= link_to "Videos", c_videos_path %> </BR>
<%= link_to "Promotions", promotions_path %> </BR>
<%= link_to "Clients", clients_path %> </BR>
<%= link_to "Conditions of Use", home2_conditions_of_use_path %> </BR>
<%= link_to "Privacy Policy", home2_privacy_policy_path %> </BR>
<%= link_to "Support", home2_support_path %> </BR>
<%= link_to "Site Map", home2_site_map_path %> </BR>
	
<HR>