<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @client.C_FName %>
</p>

<p>
  <b>Last Name:</b>
  <%= @client.C_LName %>
</p>

<p>
  <b>Email:</b>
  <%= @client.C_Email %>
</p>

<p>
  <b>About Me:</b>
  <%= @client.C_Summary %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
