<h1>Blog Index</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @c_blogs.each do |c_blog| %>
  <tr>
    <td><%= c_blog.client_id %></td>
    <td><%= c_blog.title %></td>
    <td><%= c_blog.content %></td>
    <td><%= link_to 'Show', c_blog %></td>
    <td><%= link_to 'Edit', edit_c_blog_path(c_blog) %></td>
    <td><%= link_to 'Destroy', c_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_c_blog_path %>
