<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @c_video.client_id %>
</p>

<p>
  <b>Title:</b>
  <%= @c_video.title %>
</p>

<p>
  <b>Content:</b>
  <%= @c_video.content %>
</p>


<%= link_to 'Edit', edit_c_video_path(@c_video) %> |
<%= link_to 'Back', c_videos_path %>
