<table>
<tr>
	<td>
		<%= image_tag 'shoelogo.png', size: "325x100" %>
	</td>
	
	<td>
		<table>
			<tr>
				<td>
					<table>
						<tr>
							<td> <%= link_to "Account", secret_secret1_path %> </td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<table>
						<tr>
							<%= link_to "Home", home_index_path %> &nbsp;
							<%= link_to "Announcements", home2_announcements_path %> &nbsp;
							<%= link_to "Contact", home_contact_path %> &nbsp;
							<%= link_to "About Us", home_about_path %> &nbsp;
							<%= link_to "Blogs", c_blogs_path %> &nbsp;
							<%= link_to "Videos", c_videos_path %> &nbsp;
							<%= link_to "Promotions", promotions_path %> &nbsp;
							<%= link_to "Clients", clients_path %> &nbsp;
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>
<hr>